@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:200,600');

body
{
	background-color: #001820;
  background-image: url('../img/bg_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
	background-position:top center;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 17px;
  color: #000000;
}

a{color: white}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}

#top_menu
{
  height: 100px;
  width: 100%;
}

#main_header
{
  width: 100%;
  display: inline-block;
  text-align: center;
}

#main_header a
{
  display: block;
  width: 120px;
  text-align: center;
  cursor: pointer;
	color: #ffffff;
}

#main_header a span
{
  transition: all 300ms ease-out;
  width: 0;
  height: 3px;
  display: block;
  background: #ffffff;
}

#main_header a:hover span
{
  width: 100%;
}

#main_header .solidButton
{
  transition: all 300ms ease-out;
}

#main_header .solidButton:hover
{
	background-color: white;
}

#main_header .solidButton:hover a
{
	color: black;
}

.spin
{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  transition: all 300ms ease-out;
	transform: rotate(360deg);
}

.content
{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.content h1
{
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.content h1 strong
{
font-weight: 600;
color: #ffffff;
}

#rotated_square
{
  margin-left: auto;
	margin-right: auto;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 30px;

}
#rotated_square:hover
{
	transform: rotate(360);
	transition: all 300ms ease-out;
}


#bottom_footer
{
width: 100%
padding:10px;
margin: 10px;
}

.ending
{
width: 100px;
height: 100px;
padding:20px;
margin: 10px;
text-align:center;
border: 2px solid white;
border-radius: 5px;
position: fixed;
transform: rotate(45deg);
background: #FFFFFF;
display: inline-block;
left: 900px;
}
.ending:hover
{
	cursor: pointer;
}

i
{
	transform: rotate(-45deg);
}
.menu
{
	list-style-type: none;
	margin: 10px;
	padding: 10px;
	font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration:none;
  float: right;
  color: #ffffff;
	margin-right: 100px;
}

.logo-awesome
{
height: 100px;  /* "musze wystylizowac svg w html"  */
width: 200;
float: left;
margin-left: 50px;
}

.menu > li
{
  display: inline-block;
  float: left;
	padding-left: 23px;
	padding-right: 23px;
  color: white;
  text-align: left;
  color: #ffffff
  text-decoration: none;
}

.menu > li:last-child
{
	border: 2px solid white;
  border-radius: 5px;
  text-align: left;
}

ul
{
  color: #ffffff
  text-decoration:none;
  display: block;
}

.info
{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
  margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	margin-top: 20px;
	width: 100%;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 5px;
  color: white;
}

.socialdivs
{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  color: white;
}

.fb
{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: auto;
	height: auto;
  color: white;
  text-align: center;
  display: inline-block;
	padding-right: 30px;
	margin: 10px;
	text-transform: uppercase;
}

.tw
{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: auto;
	height: auto;
  color: white;
  text-align: center;
  display: inline-block;
	padding-right: 30px;
	text-transform: uppercase;
}

 .gplus
{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: auto;
	height: auto;
  color: white;
  text-align: center;
  display: inline-block;
	padding-right: 30px;
	text-transform: uppercase;
}
