@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:200,600');

body
{
	background-color: #001820;
	background-size: auto;
	background-repeat: no-repeat;
	background-position:top left;
  font-family: 'Open Sans ', sans-serif;
  font-size: 17px;
  color: #000000;
	margin-bottom: 0px;
	max-width: 600px;  /*?????? */
	max-height: 850px; /*?????? */
	border: 2px solid red;
}

a{color: white}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}

.logo-awesome
{
	text-align: right;
	width: 70%;
	image-orientation: top;
	display: inline-block;
}

.iks
{
	display: inline-block;
	float: right;
	width: 30%;
	text-align: right;
	margin-top: 18px;
}

.menu
{
	list-style-type: none;
	margin: 10px;
	padding: 10px;
	font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
	font-weight: 400;
  text-decoration:none;
  float: center;
  color: #ffffff;
	margin-right: 10px;
	font-family: 'Open sans'
}

.menu > li
{
  padding-left: 23px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 23px;
  color: white;
  color: #ffffff;
  text-decoration: none;
	text-align: center;
	display: block;
}

.menu > li:last-child
{
	border: 2px solid white;
  border-radius: 5px;
  text-align: center;
	width: 80px;
	height: 17px;
	display: block;
	position: center;
	}


	#main_menu .solidButton
	{
	  transition: all 300ms ease-out;
	}

	#main_menu .solidButton:hover
	{
		background-color: white;
	}

	#main_menu .solidButton:hover a
	{
		color: black;
	}

.socialdivs
{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 130px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  color: white;
}

.fb
{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	width: auto;
	height: auto;
  color: white;
  text-transform: uppercase;
	padding: 30px;
	text-align: center;
	display: inline-block;

}

.tw
{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	width: auto;
	height: auto;
  color: white;
  text-transform: uppercase;
	padding: 30px;
	text-align: center;
	display: inline-block;

}

 .gplus
{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	width: auto;
	height: auto;
  color: white;
  text-transform: uppercase;
	padding: 30px;
	text-align: center;
	display: inline-block;

}
